[core]
	editor = nano
[push]
	default = simple
[gpg]
	program = gpg
[alias]
	git = !exec git
[color]
	ui = true
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX