[core]
	editor = nano
	excludesfile = /Users/pieter/.gitignore_global
	mergeoptions = --no-edit
[push]
	default = simple
    followTags = true
[gpg]
	program = gpg
	format = ssh
[alias]
	git = !exec git
	unstage = reset HEAD --
	accept = !git add . && git commit --no-edit && git push
[color]
	ui = true
[pager]
    diff = delta
[pull]
	rebase = false
[trim]
	bases = develop
	protected = acceptance,master
[http]
	postBuffer = 524288000

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only
[maintenance]
	repo = /Users/pieter/.zsh/fast-syntax-highlighting
	repo = /Users/pieter/.zsh/git-prune
	repo = /Users/pieter/.zsh/ohmyzsh
	repo = /Users/pieter/.zsh/powerlevel10k
	repo = /Users/pieter/.zsh/zsh-autosuggestions
	repo = /Users/pieter/.zsh/zsh-snap
	repo = /Users/pieter/.zsh/zsh-z
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/fast-syntax-highlighting
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/git-prune
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/ohmyzsh
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/pure
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/zsh-autosuggestions
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/zsh-z
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/go-task-completions
	repo = /Users/pieter/projects/dotfiles/zsh/zsh-snap-repos/task
	repo = /Users/pieter/projects/patientjourneyapp-gen
	repo = /Users/pieter/projects/patientjourneyapp
[help]
	autocorrect = prompt
[user]
	email = pieter@interactivestudios.nl
	name = pieter
	[credential]
	helper = osxkeychain
	
[diff "lockb"]
	binary = true
	textconv = bun
