[core]
	editor = nano
	excludesfile = ~/.gitignore_global
	mergeoptions = --no-edit
    pager = delta
[push]
	default = simple
    followTags = true
[gpg]
	program = gpg
	format = ssh
[alias]
	git = !exec git
	unstage = reset HEAD --
	accept = !git add . && git commit --no-edit && git push
	append = !git commit --amend --no-edit
[color]
	ui = true
[pager]
    diff = delta

[delta]
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[pull]
	rebase = false
[trim]
	bases = develop
	protected = acceptance,master
[http]
	postBuffer = 524288000

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only
[help]
	autocorrect = prompt
[user]
	email = pieter@interactivestudios.nl
	name = pieter	
[credential]
	helper = osxkeychain
